DATABASE_URL=postgresql+asyncpg://postgres: YourPassword@your-host:5432/postgres

SUPABASE_URL= your Supabase URL
SUPABASE_PUBLISHABLE_KEY= Your Supabase Publishable Key
GEMINI_API_KEY=YOur Gemini APi key