DATABASE_URL=postgresql+asyncpg://postgres: YourPassword@your-host:5432/postgres

SUPABASE_URL= your Supabase URL
SUPABASE_PUBLISHABLE_KEY= Your Supabase Publishable Key
GROQ_API_KEY=YOur GROQ APi key